In [1]:
import pandas as pd
import numpy

In [2]:
#Arquivo completo do ENEM de 2019
#Para se entender o arquivo e o que se refere cada coluna, é necessário consultar o dicionário de dados (Dicionário_Microdados_Enem_2019.xlsx)

enem = pd.read_csv('MICRODADOS_ENEM_2019.csv', encoding="cp1252", sep = ';', decimal=',')

In [3]:
#Descobrindo o enconding do csv
with open('MICRODADOS_ENEM_2019.csv') as f:
    print(f)

<_io.TextIOWrapper name='MICRODADOS_ENEM_2019.csv' mode='r' encoding='cp1252'>

In [4]:
enem.head()
#enem.shape

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001595656,2019,3552205,Sorocaba,35,SP,36.0,M,1,3,...,A,A,A,A,A,A,C,A,C,B
1,190001421546,2019,2910800,Feira de Santana,29,BA,23.0,M,1,1,...,A,A,A,B,A,A,E,A,A,B
2,190001133210,2019,2304400,Fortaleza,23,CE,39.0,F,1,3,...,A,A,A,B,A,A,C,A,A,B
3,190001199383,2019,1721000,Palmas,17,TO,25.0,F,1,1,...,A,A,A,C,A,B,D,A,B,B
4,190001237802,2019,3118601,Contagem,31,MG,22.0,F,1,1,...,B,A,A,B,A,A,C,B,B,B

In [5]:
#Filtrando os dados dos alunos residentes do estado de Minas Gerais
enem_mg = enem[enem['SG_UF_RESIDENCIA'] == 'MG']

In [6]:
enem_mg.shape

(538896, 136)

In [2]:
#Criando um novo arquivo com os dados dos alunos de MG, com o objetivo de diminuir o tempo de leitura dos dados
enem_mg.to_csv('ENEM_2019_MG.csv')

NameError: name 'enem_mg' is not defined

In [8]:
enem_mg.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
4,190001237802,2019,3118601,Contagem,31,MG,22.0,F,1,1,...,B,A,A,B,A,A,C,B,B,B
14,190001237803,2019,3170206,Uberlândia,31,MG,30.0,F,1,2,...,A,A,A,B,A,A,B,A,A,A
25,190001237804,2019,3124104,Esmeraldas,31,MG,27.0,M,1,3,...,A,A,A,B,A,B,C,A,A,A
32,190001237805,2019,3118304,Conselheiro Lafaiete,31,MG,22.0,F,1,1,...,B,A,B,C,B,A,E,A,B,B
38,190001237806,2019,3162922,São Joaquim de Bicas,31,MG,23.0,F,1,4,...,B,A,A,B,B,A,C,A,B,B

In [3]:
# O código pode ser iniciado desse ponto, caso o arquivo com os dados filtrados já exista

import pandas as pd
import numpy

enem_mg = pd.read_csv('./ENEM_2019_MG.csv', sep = ',', decimal='.')

In [4]:
enem_mg.head()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,4,190001237802,2019,3118601,Contagem,31,MG,22.0,F,1,...,B,A,A,B,A,A,C,B,B,B
1,14,190001237803,2019,3170206,Uberlândia,31,MG,30.0,F,1,...,A,A,A,B,A,A,B,A,A,A
2,25,190001237804,2019,3124104,Esmeraldas,31,MG,27.0,M,1,...,A,A,A,B,A,B,C,A,A,A
3,32,190001237805,2019,3118304,Conselheiro Lafaiete,31,MG,22.0,F,1,...,B,A,B,C,B,A,E,A,B,B
4,38,190001237806,2019,3162922,São Joaquim de Bicas,31,MG,23.0,F,1,...,B,A,A,B,B,A,C,A,B,B

# Questões referentes aos dados do Enem dos Alunos de MG:

In [5]:
#Questão 1 - Qual é a média da nota em matemática de todos os alunos mineiros?
enem_mg['NU_NOTA_MT'].mean()

546.796207651218

In [6]:
#Questão 2 - Qual é a média da nota em Linguagens e Códigos de todos os alunos mineiros?
enem_mg['NU_NOTA_LC'].mean()

531.2155500475569

In [7]:
#Questão 3 - Qual é a média da nota em Ciências Humanas dos alunos do sexo FEMININO mineiros?
enem_mg.loc[
    enem_mg.TP_SEXO == 'F'
].NU_NOTA_CH.mean()

515.1270983575348

In [8]:
#Questão 4 - Qual é a média da nota em Ciências Humanas dos alunos do sexo MASCULINO?
enem_mg.loc[
    enem_mg.TP_SEXO == 'M'
].NU_NOTA_CH.mean()

529.6982704731556

In [9]:
#Questão 5 - Qual é a média da nota em Matemática dos alunos do sexo FEMININO que moram na cidade de Montes Claros?
enem_mg.loc[
    (enem_mg.TP_SEXO == 'F') & 
    (enem_mg.NO_MUNICIPIO_RESIDENCIA == 'Montes Claros')
].NU_NOTA_MT.mean()

525.4776724249901

In [10]:
#Questão 6 - Qual é a média da nota em Matemática dos alunos do município de Sabará que possuem TV por assinatura na residência?
enem_mg.loc[
    (enem_mg.Q021 == 'B') & 
    (enem_mg.NO_MUNICIPIO_RESIDENCIA == 'Sabará')
].NU_NOTA_MT.mean()

543.2927556818181

In [11]:
#Questão 7 - Qual é a média da nota em Ciências Humanas dos alunos mineiros que possuem dois fornos micro-ondas em casa?
enem_mg.loc[
    (enem_mg.Q016 == 'C')
].NU_NOTA_CH.mean()

557.2765986394558

In [12]:
#Questão 8 - Qual é a nota média em Matemática dos alunos mineiros cuja mãe completou a pós-graduação?
enem_mg.loc[
    (enem_mg.Q002 == 'G')
].NU_NOTA_MT.mean()

620.0070620709803

In [13]:
#Questão 9 - Qual é a nota média em Matemática dos alunos de Belo Horizonte e de Conselheiro Lafaiete?
enem_mg.loc[
    (enem_mg.NO_MUNICIPIO_RESIDENCIA == 'Conselheiro Lafaiete') |
    (enem_mg.NO_MUNICIPIO_RESIDENCIA == 'Belo Horizonte')
].NU_NOTA_MT.mean()

578.0392265100086

In [14]:
#Questão 10 - Qual é a nota média em Ciências Humanas dos alunos mineiros que moram sozinhos?
enem_mg.loc[
    (enem_mg.Q005 == 1)
].NU_NOTA_CH.mean()

534.4573388609207

In [15]:
#Questão 11 - Qual é a nota média em Ciências Humanas dos alunos mineiros cujo pai
#completou pós-graduação e possuem renda familiar entre R$ 8.982,01 e R$9.980,00?
enem_mg.loc[
    (enem_mg.Q001 == 'G') &
    (enem_mg.Q006 == 'M')
].NU_NOTA_CH.mean()

586.7231663685158

In [16]:
#Questão 12 - Qual é a nota média em Matemática dos alunos do sexo Feminino que moram emLavras e escolheram “Espanhol” como língua estrangeira?
enem_mg.loc[
    (enem_mg.TP_SEXO == 'F') &
    (enem_mg.NO_MUNICIPIO_RESIDENCIA == 'Lavras') &
    (enem_mg.TP_LINGUA == 1)
].NU_NOTA_MT.mean()

510.80950782997775

In [17]:
#Questão 13 - Qual é a nota média em Matemática dos alunos do sexo Masculino que moram em Ouro Preto?
enem_mg.loc[
    (enem_mg.TP_SEXO == 'M') &
    (enem_mg.NO_MUNICIPIO_RESIDENCIA == 'Ouro Preto')
].NU_NOTA_MT.mean()

555.0832520325196

In [18]:
#Questão 14 - Qual é a nota média em Ciências Humanas dos alunos surdos?
enem_mg.loc[
    (enem_mg.IN_SURDEZ == 1)
].NU_NOTA_CH.mean()

435.38796296296283

In [19]:
#Questão 15 - Qual é a nota média em Matemática dos alunos do sexo FEMININO, que moram em Belo Horizonte, Sabará, Nova Lima e Betim e possuem dislexia?
enem_mg.loc[
    (enem_mg.TP_SEXO == 'F') &
   ( (enem_mg.NO_MUNICIPIO_RESIDENCIA == 'Belo Horizonte')|
    (enem_mg.NO_MUNICIPIO_RESIDENCIA == 'Sabará') |
    (enem_mg.NO_MUNICIPIO_RESIDENCIA == 'Nova Lima')|
    (enem_mg.NO_MUNICIPIO_RESIDENCIA == 'Betim')) &
    (enem_mg.IN_DISLEXIA == 1)
].NU_NOTA_MT.mean()

582.1935483870968